<!DOCTYPE html>
<html>
  <head>
    <title>MIB Reconcile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%#= render partial: 'layouts/shared/preloader' %>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      <%= render partial: 'layouts/shared/header' %>
      <%= render partial: 'layouts/shared/sidebar' %>
      <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <h4 class="page-title"><%= page_title(params[:controller]) %></h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
              <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                  <li></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <%= yield %>
        </div>
        <%= render partial: 'layouts/shared/footer' %>
      </div>
    </div>
  </body>
</html>
